.trendy-fashion-outfits-gsn-container{
  display: flex;
  gap: 25px;
}

.trendy-fashion-outfits-gsn-notice {
  width: 50%;
}

img.trendy-fashion-outfits-gsn-screenshot {
  width: 100%;
  max-width: 400px;
}



a.trendy-fashion-outfits-gsn-btn.trendy-fashion-outfits-btn-outline.button.button-primary.button-hero.ghf.trendy-fashion-outfits-install-plugins {
    background-color: #fe4c1c !important;
    border-color: #fe4c1c !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    margin-right: 17px;
}



a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.kkk {
  color: #fff !important;
  background-color: #fe4c1c !important;
  border-color: #fe4c1c !important;
  font-size: 16px;
  font-weight: 600;
}

a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.bbb {
    background-color: #f2c935 !important;
    border-color: #f2c935 !important;
    color: #000 !important;
    font-size: 16px;
    font-weight: 600;

  }
a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.ccc {
  background-color: #33b86c !important;
  color: #fff !important;
  border-color: #33b86c !important;
  font-size: 16px;
  font-weight: 600;
  margin-right: 17px;
}

a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.ddd {
  color: #fff !important;
  background-color: #c62828 !important;
  border-color: #c62828 !important;
  font-size: 16px;
  font-weight: 600;
  margin-right: 17px;
}

button.trendy-fashion-outfits-gsn-close.notice-dismiss.zzz {
  position: absolute;
  top: -24px;
  right: 4px;
  border: none;
  margin: 0;
  padding: 50px;
  background: 0 0;
  color: #787c82;
  cursor: pointer;
}

a.button-primary.trendy-fashion-outfits-btn-primary.ggg {
  background-color: #33b86c !important;
  color: #fff !important;
  border-color: #33b86c !important;
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
}

.notice-info {
  position: relative !important;
}

h4.trendy-fashion-outfits-card-header-ttl {
  font-size: 17px;
}

h4.trendy-fashion-outfits-accordion-heading {
  font-size: 16px;
}

.nnn {
    position: absolute;
    right: 10px;
}

.row {
  display: flex;
  gap: 20px;
}
.col-lg-6,.col-md-6,.col-6{
  width: 50%;
}
.col-lg-4,.col-md-4,.col-4{
  width: 33%;
}
.col-lg-3,.col-md-3,.col-3{
  width: 25%;
}
.col-12{
  width: 100%;
}
.col-lg-9 {
    width: 75%;
    padding-right: 15px;
}
.trendy-fashion-outfits-card {
  background: #fff;
  padding: 10px;
}
.trendy-fashion-outfits-btn-primary-outline:focus, .trendy-fashion-outfits-btn-primary-outline:hover {
  background-color: #48b44f !important;
  border-color: #48b44f;
  color: #fff !important;
}

.trendy-fashion-outfits-btn-primary-outline {
  background-color: rgba(0, 0, 0, 0);
  border-color: #48b44f !important;
  color: #48b44f !important;
}

.trendy-fashion-outfits-gsn-container {
  display: flex;
}

.trendy-fashion-outfits-card-header {
  padding: 3px;
  border-style: solid;
  border-color: #dcdcde;
  border-width: 0 0 1px 0;
}
.row.margin.trendy-fashion-outfits-main-wrp,.welcome-panel.trendy-fashion-outfits-hero {
  margin-right: 20px;
}
.trendy-fashion-outfits-card-body {
  padding: 10px;
  
}

.trendy-fashion-outfits-card {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #dcdcde;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.trendy-fashion-outfits-gsn-container{
  display: flex;
  gap: 25px;
}

.trendy-fashion-outfits-gsn-notice {
  width: 50%;
}

img.trendy-fashion-outfits-gsn-screenshot {
  width: 100%;
  max-width: 400px;
}

.trendy-fashion-outfits-main {
  padding: 0 6px;
}

.trendy-fashion-outfits-intro-auth--info .trendy-fashion-outfits-social {
  gap: 15px;
  margin: 40px 0 20px 0;
}

.trendy-fashion-outfits-intro-profile-info {
  text-align: center;
  margin: 20px 0 0 0;
}

.dashicons, .dashicons-before:before {
  font-weight: 400;
  width: 20px;
  height: 20px;
  font-size: 22px;
}
.trendy-fashion-outfits-main a {
  color: #0099ec;
  color: var(color);
}

.trendy-fashion-outfits-intro-auth--info .trendy-fashion-outfits-social li a {
  border-radius: 50%;
  border-color: #48b44f #d3d9de rgba(0, 0, 0, 0) #d3d9de;
  border-width: 2px;
  border-style: dashed;
  padding: 20px;
  text-decoration: none;
}

.trendy-fashion-outfits-intro-auth--info .trendy-fashion-outfits-social {
  gap: 15px;
  margin: 40px 0 20px 0;
}

.trendy-fashion-outfits-accordion-section-content {
  padding: 15px;
  border: 1px solid;
  border-color: #dcdcde;
}
.trendy-fashion-outfits-accordion-section-title {
  position: relative;
  border: 1px solid;
  padding: 5px;
  display: block;
  border-color: #dcdcde;
}

span.width {
  display: flex;
  justify-content: center;
}

a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.cba {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border-color: #fe4c1c;
  color: #fff;
  background-color: #fe4c1c;
  font-weight: 600;
  min-height: 30px !important;
  line-height: 45px;
  align-items: center;
}

.trendy-fashion-outfits-card-header.abc {
  text-align: center;
  justify-content: center;
}
.trendy-fashion-outfits-card-header.abc h4 {
    margin: 10px 0;
    font-size: 25px;
    color: #000;
    line-height: 1.2;
}
.bun-para{
  color: #000;
  text-align: center;
}
a.button-secondary.trendy-fashion-outfits-btn-secondary.fff {
  color: #fff;
  background-color: #c62828;
  border-color: #c62828;
  font-size: 16px;
  font-weight: 500;
}

.trendy-fashion-outfits-btn-primary-outline:focus, .trendy-fashion-outfits-btn-primary-outline:hover {
  background-color: #fecf5c !important;
  border-color: #fecf5c;
  color: #fff !important;
}

.trendy-fashion-outfits-btn-primary-outline {
  background-color: #fecf5c !important;
  border-color: #fecf5c !important;
  color: #fff !important;
}

a.trendy-fashion-outfits-gsn-btn.trendy-fashion-outfits-btn-outline.button.button-primary.button-hero.ghf:hover {
    background: #fff !important;
    border: 1px solid #fe4c1c;
    color: #fe4c1c !important;
}
a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.bbb:hover {
    background: #fff !important;
    border: 1px solid #f2c935;
    color: #000 !important;
}
a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.kkk:hover {
    background: transparent !important;
    border: 1px solid #fe4c1c;
    color: #fe4c1c !important;
}

a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.ccc:hover {
    background:#fff !important;
    border: 1px solid #33b86c;
    color: #33b86c !important;
}
a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.ddd:hover {
    background:#fff !important;
    border: 1px solid #c62828;
    color: #c62828 !important;
}
a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-default.button.button-secodary.button-hero.cba:hover {
    background: transparent !important;
    border: 1px solid #fe4c1c;
    color: #fe4c1c !important;
}
a.button-primary.trendy-fashion-outfits-btn-primary.ggg:hover {
    background: #fff !important;
    border: 1px solid #33b86c;
    color: #33b86c !important;
}
a.button-secondary.trendy-fashion-outfits-btn-secondary.fff:hover {
    background:#fff !important;
    border: 1px solid #c62828;
    color: #c62828 !important;
}
a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-primary-outline.button.button-hero.btn-col {
    background-color: #f2c935 !important;
    border-color: #f2c935 !important;
    color: #000 !important;
    font-weight: 600;
    padding: 0 15px;
}

a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-primary-outline.button.button-hero.btn-col:hover {
    background: transparent !important;
    border: 1px solid #f2c935;
    color: #000 !important;
}
#wpfooter {
    position: relative;
}

.cbaa {
  border-color: #c62828 !important;
  background-color: #c62828 !important;
}
.cbaa:hover {
  color: #c62828 !important;
}

.bundle-image-wrap img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.welcome-panel-header.trendy-fashion-outfits-hero {
    position: relative;
}

.welcome-panel.trendy-fashion-outfits-hero {
  background: transparent;
}

.welcome-panel.trendy-fashion-outfits-hero .welcome-panel-content.trendy-fashion-outfits-hero {
    color: #fff;
    background-image: linear-gradient(120deg, #FE4C1C 0%, #FEC63F 100%);
    min-height: 300px;
    padding: 20px 0;
    align-items: center;
}

.bundle-img-wrap img {
    width: 100%;
    max-width: 342px;
}

.bundle-img-wrap {
    text-align: center;
    width: 34%;
   
}

.welcome-panel-header.trendy-fashion-outfits-hero {
  width: 70%;
}

.welcome-panel-content.trendy-fashion-outfits-hero {
    min-height: 400px;
    display: flex;
}

.welcome-panel-content.trendy-fashion-outfits-hero {
  flex-direction: unset;
}

.theme-screenshot-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.theme-screenshot-box h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.screenshot-container {
  height: 850px;
  overflow: hidden;
  position: relative;
}
#scrollImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.features .trendy-fashion-outfits-card {
    height: 211px;
}

h4.trendy-fashion-outfits-card-header-mmm {
    display: flex;
    justify-content: center;
    font-size: 17px;
}

/* NOTICE CSS */

    
.trendy-fashion-outfits-gsn-container {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 15px 0;
}

.trendy-fashion-outfits-gsn-notice {
  width: 50%;
}

img.trendy-fashion-outfits-gsn-screenshot {
    width: 100%;
    max-width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0px;
    border-radius: 7px;
}

a.trendy-fashion-outfits-gsn-btn.trendy-fashion-outfits-btn-outline.button.button-primary.button-hero.kkk.trendy-fashion-outfits-install-plugins:hover {
  background-color:#fff !important;
  border-color: #f2c935 !important;
  color: #f2c935 !important;
}

.vvv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 19px;
}

button.trendy-fashion-outfits-gsn-close.notice-dismiss.zzz {
  position: absolute;
  top: -24px;
  right: 4px;
  border: none;
  margin: 0;
  padding: 50px;
  background: 0 0;
  color: #787c82;
  cursor: pointer;
}

a.button-primary.trendy-fashion-outfits-btn-primary.ggg {
  background-color: #33b86c !important;
  color: #fff !important;
  border-color: #33b86c !important;
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
}

.notice-info {
  position: relative !important;
}

h4.trendy-fashion-outfits-card-header-ttl {
  font-size: 17px;
}

h4.trendy-fashion-outfits-accordion-heading {
  font-size: 16px;
}

.button.trendy-fashion-outfits-gsn-close.notice-dismiss.ppp {
  padding: 10px;
  top: 0;
  right: 0;
}

/* Accordion heading style */
.trendy-fashion-outfits-accordion-heading {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 600;
}

.trendy-fashion-outfits-accordion-section summary .dashicons:before {
  content: "\f139";
  font-family: "dashicons";
  font-size: 22px;
}

.trendy-fashion-outfits-accordion-section[open] summary .dashicons:before {
  content: "\f140"; /* dashicons-arrow-down */
  font-family: "dashicons";
  font-size: 22px;
}

.trendy-fashion-outfits-card-header {
  /*display: flex;
  align-items: center;*/
  gap: 5px;
}

.bun-para {
    font-weight: 400;
}

.coll {
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
}

.gradient{
  background-image: linear-gradient(150deg, #FE4C1C 0%, #FEC63F 100%);
}
img.trendy-fashion-outfits-gsm-screenshot {
    width: 70%;
}
.trendy-fashion-outfits-gsn-notice h2 {
  line-height: 30px;
  margin: 0 0 20px;
}

.trendy-fashion-outfits-card-btn-grp.rrr {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 1500px) {
  .row.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .row.features .col-md-6.col-xl-3{
    width: 100%;
  }
  .trendy-fashion-outfits-card-btn-grp.rrr {
        gap: 10px;
        justify-content: unset;
    }
  a.trendy-fashion-outfits-btn.trendy-fashion-outfits-btn-primary-outline.button.button-hero.btn-col{
    padding: 0 15px;
  }
  .trendy-fashion-outfits-card {
    margin-bottom: 20px;
  }
  .wp-core-ui .button-group.button-hero .button, .wp-core-ui .button.button-hero {
    font-size: 12px;
    min-height: 46px;
    line-height: 3.14285714;
    padding: 0 36px;
}
}


@media (max-width: 1024px) {
  .row.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .features .col-md-6.col-xl-3{
    width: 100% ;
  }
  img.trendy-fashion-outfits-gsn-screenshot {
    width: 100%;
    max-width: 300px;
  } 
}

/*Notice Mobile Media Css*/
@media screen and (max-width: 768px) {
  .trendy-fashion-outfits-gsn-container {
    flex-direction: column;   
    align-items: center;
    text-align: center;
  }

  .trendy-fashion-outfits-gsn-screenshot {
    max-width: 100%;          
    margin-bottom: 15px;
  }

  .trendy-fashion-outfits-gsn-notice {
    width: 100%;
  }

  .trendy-fashion-outfits-gsn-notice .vvv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
  }

  .trendy-fashion-outfits-gsn-notice .vvv a {
    text-align: center;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    .trendy-fashion-outfits-gsn-notice .vvv {
      grid-template-columns: 1fr;
    }
  }
}



/*Theme Info Mobile Media Css*/
@media screen and (max-width: 992px) {
  .trendy-fashion-outfits-main .col-lg-3,
  .trendy-fashion-outfits-main .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

.trendy-fashion-outfits-main .row {
  display: flex;
  flex-wrap: wrap;
}
  .trendy-fashion-outfits-main-sidebar {
    margin-top: 20px;
  }

  .trendy-fashion-outfits-main-cont {
    margin-top: 20px;
  }

  .trendy-fashion-outfits-hero .not-link {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  width: 100%;
}

.trendy-fashion-outfits-hero .not-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .trendy-fashion-outfits-hero .not-link {
    grid-template-columns: 1fr; 
  }
}

@media screen and (max-width: 768px) {
  .trendy-fashion-outfits-main .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .trendy-fashion-outfits-main .features .col-md-6,
  .trendy-fashion-outfits-main .features .col-xl-3 {
    flex: unset;
    max-width: unset;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .trendy-fashion-outfits-main .features {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .trendy-fashion-outfits-card-btn-grp {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .trendy-fashion-outfits-card-btn-grp a {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
  }
}
